.dogBreeds{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.dogBreed{
    padding: 10px;
    margin-right: 10px;
    background-color: white;
    color: black;
}

  .actived{
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
    background-color: black;
    color: white;
}